include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		include ../common/header
		include ../common/bio
		include ../common/consult
		include ../common/events
		include ../common/diploms
		include ../common/footer
	// END body