.bio {
    &__body {
        display: flex;

    }
    &__wrap {
        background: linear-gradient(to right, #ededed 50%, #75787E 50%);            
    }   
    &-deviz {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        text-align: right;
        width: 50%;
        padding: 130px 24px;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
        }
        &__text {
           
            font-family: 'PlayfairDisplay', 'Times New Roman', Times, serif;
            font-style: italic;
            font-weight: 400;
            font-size: 16px;
            line-height: 35px;
            /* or 219% */

            letter-spacing: 0.03em;
            display: inline-block;
        }
    }
    &__block {
        width: 50%;
        background-color: #75787E;
        color: #fff;
        padding: 134px 105px 109px 129px;
    }
    &__name {
        font-family: 'PlayfairDisplay', 'Times New Roman', Times, serif;
        font-weight: 400;
        font-size: 30px;
        line-height: 1.17;
        /* or 117% */
        letter-spacing: 0.03em;
        margin-bottom: 29px;
    }
    &__position {
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */
        letter-spacing: 0.05em;
        text-transform: uppercase;
        padding-bottom: 34px;
        border-bottom: 1px solid rgba(229, 229, 229, 0.5);
        margin-bottom: 33px;
        li {
            margin-bottom: 10px;
        }
    }
    &__item {
        span {
            font-weight: 700;
        }
    }
    &__text {
        display: inline;
    }
    &__video {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-weight: 500;
        line-height: 2.19;
        /* or 219% */

        letter-spacing: 0.01em;
        text-transform: uppercase;

        color: #97DFEC;
        position: relative;

    }
}