.consult {
    .subtitle {
        text-align: center;
    }
    &__body {
        display: flex;
        padding: 90px 195px 0 302px;
    }
    &__about {
        width: 50%;
        p {
            color: #9C9C9C;
            margin: 0;
        }
    }
    &__cite {
        display: flex;
    }
    &__text {
        font-family: 'PlayfairDisplay', 'Times New Roman', Times, serif;
        font-weight: 400;
        font-style: italic;
        font-size: 25px;
        line-height: 1.74;
        letter-spacing: 0.01em;
    }
    &__position  {
        padding-left: 0;
        list-style-type: decimal; 
        list-style-position: inside; 
        li {
            list-style-type: decimal; 
            list-style-position: inside; 
        }
    }
    &__slider {
        &-wrap {
            width: 50%;
        }
        &-caption {
            width: 100%;;
            font-family: 'PlayfairDisplay', 'Times New Roman', Times, serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            color: #9C9C9C;
            .slick-list {
                padding: 0!important;
            }
            .slick-track {
                width: 100%!important;
                display: flex;
                justify-content: space-between;
            }
            .slick-current {
                color: $text;
                .consult__nav {
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background: #97DFEC;
                    }
                }
            }
        }
        &-for {
            position: relative;
        }
       
    }
    &__nav {
        position: relative;
        padding: 0 0 23px 0;
        display: inline-block;
        &.active {
            color: $text;
        }
    }
}