.diploms {
    .title {
        margin-bottom: 20px;
    }
    &__wrap {
        margin-bottom: 89px;
    }
    &__item {
        // max-width: 327px;
        
        margin: 0 15px;
        a {
            // margin: 0 31px;
            overflow: hidden;
            display: block;
            // border: 1px solid rgba(0, 0, 0, 0.2);
            // max-height: 450px;
        }
        img {
            height: 100%;
            max-height: 450px;
            min-width: 350px;
        }
    }
    &__slider {
        position: relative;
        .slick-arrow {
            display: block;
            position: absolute;
            bottom: -17px;
        }
        .arrow {
            &-prev {
                left: 46%;
                margin-right: -50%;
                transform: translate(-50%, -50%) rotate(180deg);
            }
            &-next {
                left: 56%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
            }
        }
        .slick-dots {
            display: block;
            margin-top: 63px;
            button {
                outline: none;
            }
            
        }
    }
    &__img {
        filter: grayscale(100%);
        position: relative;
        transition: 0.3s;
        &:after {
            content: "";
            background-color: transparent;;
            transition: 2.3s;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            opacity: 0;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            width: 42px;
            height: 42px;
            background: url('../img/icons/icon-zoom.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            transition: 0.3s;
        }
        &:hover {
            box-shadow: 0px 20px 40px 0px rgba(51,51,51,0.3);
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(116, 116, 116, 0.6);
            } 
            &:before{
                opacity: 1;
                top: 50%;
                z-index: 1;
            }
        }

        
    }
}