.events {
    margin-bottom: 96px;
    .title {
        margin-bottom: 65px;
    }
    &__body {
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0);
        overflow: hidden;
    }
    &__wrap {
        position: relative;
    }   
    .wrap {
        position: relative;
        display: flex;
        overflow: hidden;
    }
    &-deviz {
        transform: translateX(100%);
        transition: 1.5s;
        width: 50%;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        &.active {
            transform: translateX(0);
        }
    }
    &__block {
        transform: translateX(-100%);
        transition: 1.5s;
        width: 50%;
        background-color: #75787E;
        color: #fff;
        padding: 144px 152px 162px 68px;
        &.active {
            transform: translateX(0);
        }
    }
    &__name {
        color: #fff;
        font-family: 'PlayfairDisplay', 'Times New Roman', Times, serif;
        font-weight: 400;
        font-size: 25px;
        line-height: 33px;
        /* or 117% */
        letter-spacing: 0.03em;
        margin-bottom: 52px;
    }
    &__position {
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */
        letter-spacing: 0.05em;
        text-transform: uppercase;
        padding-bottom: 14px;
        &--top {
            // max-width: 442px;
            padding-right: 128px;
            border-bottom: 1px solid rgba(229, 229, 229, 0.5);
            margin-bottom: 45px;
        }
        
    }
    &__item {
        span {
            font-weight: 500;
        }
    }
    &__text {
        margin-top: 18px;
        font-size: 16px;
        line-height: 1.56;
        display: block;
        letter-spacing: 0.01em;
        color: #DBDCDE;
        // max-height: 120px;
        // max-height: 8.4em;
        // overflow: hidden;
    }
    &__slider {
        padding-bottom: 42px;
    }
    &__video {
        display: block;
        margin-top: 49px;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-weight: 500;
        line-height: 2.19;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #97DFEC;
        padding-bottom: 10px;
        span {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                width: calc(100% - 26px);
                height: 1px;
                left: 0;
                bottom: -10px;
                background: #97DFEC;
            }
        }
    }
    .slick-arrow {
        position: absolute;
        bottom: 52px;
    }
    .arrow {
        &-prev {
            right: 32px;
        }
        &-next {
            right: 0;
        }
    }
}