.footer {
    padding: 33px 39px 41px 51px;
    background: #27282A;
    color: #fff;
    font-size: 16px;
    line-height: 1.28;
    letter-spacing: 0.01em;
    .wrap {
        display: flex;
        justify-content: space-between;
        max-width: 1826px;
    }
    .logo {
        padding-left: 39px;
        text-align: center;
        margin-bottom: 36px;
    }
    &__contact {
        .logo {
            display: none;
        }
        a {
            display: block;
            color: #fff;
        }
        .phone-mask {
            letter-spacing: 0.01em;
            font-family: "Montserrat",Arial,Helvetica,sans-serif;
            background-color: transparent;
            color: #fff;
            border: none;
        }
        input {
            letter-spacing: 0.01em;
            font-family: "Montserrat",Arial,Helvetica,sans-serif;
        }
    }
    &__center {
        padding-left: 46px;
    }
}
.rights {
    color: #646464;
}
