nav {
    color: $text;
    a {
        color: $text;
    }
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px 0 14px;
}
.reg {
    display: flex;
}
.menu-toggle {
    display: none;
}
header {
    border: 50px solid #fff;
    border-bottom: none;
    padding: 18px 34px 18px 27px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .wrap {
        // min-height: 100vh;
    }
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #fff;
       transition: 1s ease-out;
       transition-delay: 1s;
        
        
    }
    &.active:after {
        width: 0;
    }

}
#top {
    max-width: 100%;
    width: 100%;
    padding-top: 0;
    margin-bottom: 118px;
    height: 100vh;
    min-height: 450px;
}
.lang {
    position: relative;
    &__text {
        position: relative;
        cursor: pointer;
        border-radius: 50%;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.065em;
        text-transform: uppercase;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            right: -10px;
            transform: translate(0, -50%);
            width: 0;
            height: 0;
            border-top: 6px solid #3E4653;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            
        }
        &:hover {
            border-color: #3E4653;
        }
    }
    &__wrap {
        width: 44px;
        cursor: pointer;
        border-radius: 50px;
        border: 1px solid #3E4653;
        background: #e6e6e6;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
        opacity: 0;
        transition: 2.3s;
        text-transform: uppercase;
        &.active {
            display: flex;
            opacity: 1;
        }
    }
    &-item {
        padding: 5px;
        &:hover {
            font-weight: 700;
        }
    }
}
.logo {
    font-size: 40px;
    line-height: 40px;
    font-family: 'Augustia', 'Times New Roman', Times, serif;
}
.toggle-menu {
    display: none;
}
.cross {
    display: none;
}
.main-menu {
    font-size: 14px;
    ul {
        display: flex;
        align-items: center;
    }
    .logo {
        font-size: 40px;
        padding: 0 50px;
    }
    .logo a:hover:after {
        border-color: transparent;
    }
    a {
        display: block;
        padding: 20px 26px;
        position: relative;
        &:hover {
            opacity: 0.8;
            &:after {
                content: "";
                position: absolute;
                width: 80%;
                height: 1px;
                border-bottom: 1px solid $accent;
                bottom: 12px;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, 0);
            }
        }
    }
    li {
        opacity: 0;
        transition: 1s;
        transition-delay: 3s;
        &.active {
            opacity: 1;
        }        
    }
    .logo {
        opacity: 0;
        transition: 1s;
        transition-delay: 2s;
        &.active {
            opacity: 1;
        }
    }
}
.header {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__wrap {
        padding: 0 0 0 156px;
        transition: 2s;
        transition-delay: 0.5s;
        bottom: -100px;
        position: relative;
        z-index: 1;
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 150%;
            bottom: 0;
            left: 0;
            background-color: #fff;
            transition: 1s;
            transition-delay: 0.5s;
           
        }
        &.active {
            bottom: 0;
            &:after {
                height: 0;
            }
        }
    }

}
.header-bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.social {
    display: flex;
    &__icon {
        display: block;
        margin-right: 16px;
        img {	
            width: 100%;	
            height: 100%;	
        }
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            opacity: 0.5;
        }
    }
}
.header-social {
    opacity: 0;
    transition: 1s;
    transition-delay: 4s;
    &.active {
        opacity: 1;
    }   
}
.download-viz {
    display: flex;
    opacity: 0;
    transition: 1s;
    transition-delay: 4s;
    &.active {
        opacity: 1;
    }   
    &__text {
        margin-right: 10px;
    }
}
.btn-scroll {
    position: absolute;
    top: -70px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 0.27em;
    text-transform: uppercase;
    padding: 30px 30px 67px;
    &:hover {
        opacity: 0.8;
    }
    &:before, &:after {
        content: "";
        position: absolute;
    }
    &:before {
        animation: animationScroll 1.5s infinite;
        width: 1px;
        height: 50px;
        background: $text;
        bottom: 0;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0)
    }
    &:after {
        animation: animationScroll 1.5s infinite;
        bottom: 0;
        width: 5px;
        height: 5px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0) rotate(-45deg);
        border-left: 1px solid $text;
        border-bottom: 1px solid $text;
    }
}
.fb {	
    width:10px;	
    height:19px;	
}	
.yt{	
    width:20px;	
    height:14px;	
}	
.inst {	
    width:18px;	
    height:18px;	
}	
.ph {	
    width:17px;	
    height:17px; 	
}	
.ml {	
    width:20px;	
    height:15px; 	
}	
.us {	
    width:15px;	
    height:18px;  	
}
//header
@keyframes animationScroll {
    0% {
        bottom: 0;
    }
    50% {
       bottom: 5px;
    }
    100% {
       bottom: 0;
    }
}