.sendform {
    &__wrap {
        background-color: #fff;
        color: $text;
        max-width: 560px;
        padding: 40px 45px;
        position: relative;
    }
    h3 {
      font-size: 25px;
      line-height: 1.12;
      text-align: center;
      letter-spacing: 0.01em;
    }
    &__text {
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #747474;
    }
    .form-line {
        width: 100%;
        input {
            width: 100%;
            padding: 13px 16px;
            margin-bottom: 25px;
            border: 1px solid #DBDBDB;
            &::placeholder {
              color: #747474;
            }
            &:active, &:focus {
              border: 1px solid rgba(117, 120, 126, 0.73);
              color: #373D45;
            }
        }
        .btn {
            border: 1px solid $accent;
            width: 100%;
            margin-top: 20px;
            color: #333;
            &:hover {
                background-color: #AFEDF8;;
            }
            &:active {
              background: #89D3E0;
            }
        }
    }
}
.close {
    position: absolute;
    right: -51px;
    top: 0;
    background: #fff;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      fill: $text;
      width: 15px;
      height: 15px;
    }
    &:hover {
        opacity: .7;
    }
}
.sendform {
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    background-color: rgba(33, 33, 33, 0.8);
    justify-content: center;
    align-items: center;
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.disabled {
    display: none !important;
}
.agree-line {
  max-width: 162px;
  margin: 0 auto;
  font-weight: 200;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #747474;
  input {
    
  }
}
@keyframes fadeOutUp {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  }
  
  .fadeOutUp {
    animation-name: fadeOutUp;
  }
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInDown {
    animation-name: fadeInDown;
  }