
@media only screen and (min-width: 100px) {
    header {
        background-image: url('../img/header-bg-pl.jpg');
        background-size: cover;
        // min-height: 985px;
    } 
}
@media only screen and (min-width: 769px) {
    header {
        background-image: url('../img/header-bg.jpg');
    } 
}

@import "vars";
@media only screen and (max-width: 1819px) {
    #top.wrap {
        padding-top: 0;
    } 
}
@media only screen and (max-width: 1680px) {
    .consult {
        &__body {
            padding-left: 20px;
            padding-right: 20px;
            max-width: 1423px;
            margin: 0 auto;
        }
    }
    .diploms {
        &__item {
            img {
                height: 100%;
                max-height: 350px;
                min-width: 306px;
            }
        }
    }
}
@media only screen and (max-width: 1580px) {
    .bio {
        &-deviz, &__block {
            padding: 55px 80px;
        }
    }
    .consult {
        &__body {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
    #modalVideo .modal__wrap {
        width: auto;
        max-width: 84%;
    }
    .video__img {
        height: auto;
    }
}

@media only screen and (max-width: 1340px) {	
    header {	
        max-width: 1236px;	
        padding: 20px 16px 6px 5px;	
        // min-height: 688px;	
    }	
    .nav {	
        font-size: 14px;	
    }	
    .main-menu a {	
        padding: 20px 22px;	
    }	
    .ph {	
        width:11px;	
        height:11px; 	
    }	
    .ml {	
        width:13px;	
        height:10px; 	
    }	
    .main-menu ul {	
        padding-right: 27px;	
    }	
    .main-title {	
        font-size: 59px;	
    }	
    .subtitle {	
        font-size: 14px;	
    }	
    .header-bottom {	
        padding: 56px 0 0 15px;	
        .social__icon {	
            margin-right: 6px;	
        }	
    }	
    .btn-scroll {	
        top: 26px;	
        padding-bottom: 42px;	
        &:before {	
            height: 35px;	
        }	
    }	
    .download-viz__text {	
        font-size: 14px;	
    }	
    .yt {	
        width: 17px;	
    }	
    .inst {	
        width: 14px;	
    }	
    .us {	
        width: 10px;	
        height: 13px; 	
    }	
    #top.wrap {	
        margin-bottom: 87px;	
    }	
    .title {	
        font-size: 29px;	
    }	
    .title__behind {	
        top: -42px;	
    }	
    .bio {	
        margin-bottom: 90px;	
        .title {	
            margin-bottom: 33px;	
        }	
        &-deviz {	
            padding: 89px 36px;	
            &__text {	
                max-width: 236px;	
                text-align: left;	
                margin-bottom: 0;	
            }	
        }	
        &__block {	
            padding: 80px 47px 80px 90px;	
        }	
        .logo {	
            font-size: 32px;	
            margin-top: -10px;	
        }	
        &__name {	
            margin-bottom: 17px;	
        }	
        &__position {	
            padding-bottom: 10px;	
            margin-bottom: 25px;	
            li {	
                margin-bottom: 2px;	
            }	
        }	
        &__item {	
            line-height: 1.5;	
        }	
        &__slider {	
            padding-bottom: 23px;	
        }	
    }	
    .consult {	
        margin-bottom: 29px;	
        .subtitle {	
            letter-spacing: 0.05em;	
            font-size: 16px;	
        }	
        &__body {	
            padding: 40px 18px 40px 22px;	
        }	
        &__cite {	
            max-width: 410px;	
            padding-bottom: 4px;	
            .logo {	
                position: relative;	
                left: -5px;	
            }	
        }	
        &__text {	
            max-width: 328px;	
            font-size: 20px;	
            line-height: 43px;	
            /* or 217% */	
            letter-spacing: 0.01em;	
        }	

         &__about .btn {	
            margin-top: 19px;	
        }	
        &__nav {	
            padding-bottom: 6px;	
        }	
        &__slider-wrap {	
            width: 50%;	
            padding-left: 12px;	
        }	
        &__slider-caption {	
            margin-bottom: 31px;	
        }	
        &__content {	
            line-height: 1.6;	
            letter-spacing: 0.01em;	
        }	
        &__position {	
            letter-spacing: 0.01em;	
        }	
    }	
    .events {	
        margin-bottom: 78px;	
        .title {	
            margin-bottom: 24px;	
        }	
        &__block {	
            padding: 98px 52px 40px 22px;	
        }	
        &__name {	
            margin-bottom: 24px;	
        }	
        &__position {	
            padding-bottom: 0px;	
            &--top {	
                margin-bottom: 25px;	
                padding-bottom: 3px;	
            }	
        }	
        &__video {	
            margin-top: 37px;	
            span:before {	
                bottom: -4px;	
            }	
        }	
    }	
    .diploms {	
        .title {	
            margin-bottom: 0;	
        }	
        &__wrap {	
            padding: 0px 12px;	
        }	
        &__item img {	
            height: 100%;	
            max-height: 302px;	
        }	
        &__slider .slick-dots {	
            display: block;	
            margin-top: -25px;	
        }	
        &__slider .arrow-prev {	
            left: 44%;	
        }	
        &__wrap {	
            margin-bottom: 56px;	
        }	
    }	
    .footer {	
        padding: 27px 19px 35px 23px;	
        &__contact {	
            max-width: 200px;	
            word-wrap: break-word;	
        }	
        .logo {	
            margin-bottom: 6px;	
            padding-left: 13px;	
        }	
        &__center {	
            padding-left: 0;	
        }	
    }	
    .rights {	
        max-width: 250px;	
        text-align: center;	
    }	

}	
@media only screen and (max-width: 1279px) {	
    .header-bottom {	
        padding: 0;	
    }	
    .ph {	
        width:17px;	
        height:17px; 	
    }	
    .ml {	
        width:20px;	
        height:15px; 	
    }
    .main-title {
        font-size: 60px;
        line-height: 80px;
        margin-bottom: 8px;
    }
    .nav {
        position: relative;
    }
    .main-menu ul {	
        padding-right: 0;	
    }
    .lang {
        display: none;
    }
    .display-block {
        display: block;
    }
    .menu-toggle {
        display: block;
        width: 22px;
        height: 23px;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        z-index: 3;
        .one, .two, .three {
            width: 100%;
            height: 1px;
            background: #3E4653;
            margin: 5px 0;
            backface-visibility: hidden;
            transition-duration: .3s;
        }
        .menu-text {
            font-size: 8px;
            line-height: 10px;
            letter-spacing: 0.27em;
            text-transform: uppercase;
            color: #000000;
        }
        .one {
            width: 23px;
        }
        .two {
            width: 17px;
        } 
        .three {
            width: 21px;
        }
        &.active {
            .one,
            .three {
                margin: 10px auto;
                width: 23px;
            }
            .one {
                transform: rotate(45deg) translate(0,1px);
            }
            .two, .menu-text  {
                opacity: 0;
            }
            .three {
                transform: rotate(-45deg) translate(14px,-15px);
            }
        }
    }
    .main-menu {
        display: none;
        &.active {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: #C4C4C4;
            z-index: 2;
            right: 0;
            top: 0;
            ul {
                flex-direction: column;
                align-items: center;
                margin-top: 40px;
                text-align: center;
            } 
            .logo {
                order: -1;
                margin-bottom: 20px;
            }
        }
    }
    .menu-wrap {
        padding-left: 25px;
        padding-right: 25px;
    }
    .lang {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 7;
    }
    .lang__wrap.active {
        background: #c4c4c4;;
    }
    .header {
        width: 100%;
        margin-bottom: auto;
        text-align: center;
        &__wrap {
            padding: 0;
        }
        &-bottom {
            .social {
                padding-left: 17px;
            }
        }
    }
    header {
        background-position: top right;
        // background-size: 147%;
        padding: 26px 23px 18px 31px;
    }
    .nav {
        .social {
            padding-top: 8px;
        }
    }
    .btn-scroll {
        top: -31px;
    }
    .download-viz {
        padding-right: 10px;
        font-size: 14px;
        line-height: 17px;
    }
    #top.wrap {
        margin-bottom: 78px;
    }
    .bio {
        margin-bottom: 129px;
        .title {
            margin-bottom: 34px;
        }
        &__name {
            margin-bottom: 44px;
        }
        &__position {
            padding-bottom: 34px;
            margin-bottom: 51px;
        }
        &__slider {
            padding-bottom: 42px;
        }
        .arrow-next {
            right: 1px;
        }
        .arrow-prev {
            right: 33px;
        }
    }
    .bio, .events {
        &__body {
            .bio__block, .events__block {
                display: none;
            }
            .bio-deviz {
                background-size: contain;
            } 
            .events-deviz {
                background-size: contain;
            }
        }
        &__wrap {
            .wrap {
                flex-direction: column;
            }
        }
        &-deviz {
            padding: 60px 32px;
            width: 100%;
            min-height: 1065px;
        }
        &__block {
            padding: 60px 32px;
            width: 100%;
        }
    }
    .events {
        &__block {
            order: 1;
        }
    }

    .consult {

        &__slider {
            &-for {
                position: relative;
                .slick-arrow {
                    display: block;
                    position: absolute;
                    bottom: 0;
                }
                .arrow {
                    &-prev {
                        left: 20%;
                    }
                    &-next {
                        right: 20%;
                    }
                }
                .slick-dots {
                    display: block;
                }
            }
        }
    }
    .diploms {
        &__item {
            img {
                height: 100%;
                max-height: 295px;
                min-width: 236px;
            }
        }
    }
    .video iframe {
        width: 500px;
        height: 303px;
    }
    .video__caption {
        max-width: 200px;
        max-height: 311px;
    }
    .video__text {
        font-size: 11px;
        padding: 3px 10px;
        overflow-wrap: break-word;
    }
    .video {
        height: 100%;
        max-height: 100vh;
        align-items: center;
    }

}
@media only screen and (max-width: 1240px) {

    .bio {
        &-deviz {
            min-height: 847px;
        }
    }
    .lang {
        right: 10px;
    }
    .consult {
        margin-bottom: 72px;
        .subtitle {
            letter-spacing: 0.05em;
        }
        &__body {
            padding-left: 32px;
            padding-right: 36px;
        }
        &__body {
            flex-direction: column;
        }
        &__about {
            width: 100%;
            margin-bottom: 79px;
        }
        &__slider-wrap {
            width: 100%;
            padding-left: 5px;
            padding-right: 24px;
        }
        .slick-dots {
            margin-top: 36px;
        }
        &__nav {
            padding-bottom: 20px;
        }
        &__content {
            letter-spacing:  0.01em;
            line-height: 25px;
        }
        .arrow {
            &-prev {
                left: 42%;
                margin-right: -50%;
                transform: translate(-50%, -50%) rotate(180deg);
            }
            &-next {
                left: 61%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
            }
        }
        &__slider-for .slick-arrow {
            bottom: -17px;
        }
    }
    .events {
        margin-bottom: 82px;
        &__block {
            padding-bottom: 32px;
        }
        &-deviz {
            min-height: 666px;
        }
        .title {
            margin-bottom: 33px;
        }
        &__position {
            padding-bottom: 13px;
            
            &--top {
                padding-bottom: 23px;
                margin-bottom: 34px;
            }
        }
        &__item {
            padding-right: 124px;
        }
        &__text {
            margin-top: 22px;
        }
        &__slider {
            padding-bottom: 39px;
        }
    } 
    .diploms .title {
        margin-bottom: 30px;
    }
    div[id^="modalEvents-"] {
        .modal__wrap {
            max-width: 854px;
        }
        .events__item {
            padding-right: 0;
        }
    }
}

@media only screen and (max-width: 980px) {
    header {
        // min-height: 677px;
        // min-height: 985px;	     
        padding-bottom: 27px;
        background-repeat: no-repeat;
    }
    .header-social {	
        padding-left: 18px;	
    }	
    .header-bottom .social__icon {	
        margin-right: 14px;	
    }	
    .title__behind {	
        top: -47px;	
    }	
    .yt {	
        width: 20px	
    }	
    .inst {	
        width: 18px;	
    }	
    .us {	
        width: 15px;	
        height: 18px;	
    }	
    .download-viz {	
        padding-right: 0;	
    }	
    .btn-scroll {	
        padding-bottom: 64px;	
        &:before {	
            height: 50px;	
        }	
    }	
    .title {	
        font-size: 38px;	
    }	

     .nav {	
        margin-bottom: 14px;	
    }	
    .main-title {	
        margin-bottom: 6px;	
    }	
    .subtitle {	
        font-size: 16px;	
    }
    .bio {
        &-deviz {
            min-height: 666px;
        }
        &__text {	
            max-width: 380px;	
        }
        &__block {
            padding: 74px 30px 87px;
        }
        .logo {	
            margin-top: 25px;	
            margin-right: 20px;	
        }	
        &__position li {	
            margin-bottom: 10px;	
        }	
    }	
    .consult {	
        margin-bottom: 33px;	
        &__text {	
            max-width: 348px;	
            font-size: 24px;	
        }	
        &__body {	
            padding-top: 87px;	
        }	
        &__cite {	
            max-width: 533px;	
            padding-bottom: 47px;	
        }	
        &__position {	
            max-width: 537px;	
        }	
        &__about .btn {	
            margin-top: 34px;	
        }	
        &__slider-caption {	
            margin-bottom: 39px;	
        }	
    }	
    .events {	
        &__name {	
            margin-bottom: 50px;	
        }	
        &__video {	
            margin-top: 51px;	
            span {	
                font-weight: 400;	
                &:before {	
                    bottom: -9px;	
                }	
            }	
        }	

     }	
    .diploms__slider .slick-dots {	
        margin-top: -17px;
    }
    .footer {
        text-align: center;
        .wrap {
            flex-direction: column;
        }
        &__contact {
            max-width: none;	
            margin-left: auto;	
            margin-right: auto;
            margin-bottom: 28px;
            .logo {
                display: block;
            }
            .phone-mask {	
                text-align: center;	
            }
        }
        &__center {
            order: 1;
            .logo {
                display: none;
            }
        }
    }
    .diploms {
        &__item {
            img {
                height: 100%;
                max-height: 173px;
                min-width: 127px;
            }
        }
    }
    .main-menu a {
        padding: 11px 30px;
    }
    div[id^="modalEvents-"] {
        .modal__wrap {
            max-width: 100%;
        }
        .close {
            right: 5px;
            top: 5px;
        }
    }
}
@media only screen and (max-width: 785px) {
    header {
        // min-height: 500px;
    }


    .bio {
        &-deviz {
 
        }
    }
    .events {
        &-deviz {
//            min-height: 527px;
        }
    } 
    .diploms {
        &__item {
            img {
                height: 100%;
                max-height: 174px;
                min-width: 61px;
            }
        }
        &__wrap {
            margin-bottom: 75px;
            padding: 0 20px;
        }
        // &__slider .slick-dots {
        //     margin-top: 42px;
        // }
        &__slider {
            .arrow {
                &-prev {
                    left: 39%;
                }
                &-next {
                    left: 61%;
                }
            }
        }

    }
    .footer {
        padding-top: 40px;
        padding-left: 39px;
        .logo {
            padding-left: 0;
            margin-bottom: 31px;
        }
        &__center {
            padding-left: 0;
        }
        .rights {
            max-width: 210px;
            margin: 0 auto;
        }
    }
    .video iframe {
        width: 479px;
    }
    .video__caption {
        max-width: 160px;
    }

}
@media only screen and (max-width: 720px) {
    .video iframe {
        width: 300px;
        height: 222px;
    }
    .video__img {
        display: none;
    }
}
@media only screen and (max-width: 620px) {
    header {
        background-size: 146%;
        background-position: center;
        // min-height: 701px;
    }
    .main-title {
        font-size: 40px;
        line-height: 53px;
    }
    .subtitle {
        font-size: 14px;
        line-height: 17px;
    }    
    .bio{
        &__body {
            .bio {
                &-deviz {
                    min-height: 325px;
                    background-size: 163%;
                }
            }
        }
        &__slider {
            padding-bottom: 0px;
        }
    }
    .events{
        &__body {
            .events {
                &-deviz {
                    min-height: 327px;
                    background-size: 163%;
                }
            }
        }
        
    } 
    .consult {
        &__slider-wrap {
            order: -1;
        }
    }
    .consult__slider-caption {
        .slick-track {
        //  width: auto!important;
            display: block;
            justify-content: space-between;
        }
        .slick-slide {
            display: none;
            &.slick-current {
                display: block;
            }
        }
        
    }
    .diploms {
        &__item {
            img {
                height: 100%;
                max-height: 84px;
                min-width: 61px;
            }
        }
    }
    .video iframe {
        width: 325px;
    }
    #modalVideo .modal__wrap {
        max-height: 80vh;
    }
    .video__caption {
        max-width: 100px;
    }
    .video__text {
        font-size: 9px;
    }
}
@media only screen and (max-width: 535px) {
    .header {
        flex-grow: 1;
        min-height: auto;
        align-items: flex-start;
        &-bottom {
            .header-social {
                display: none;
                z-index: 7;
                bottom: 20px;
                left: 5px;
                position: fixed;
            }
            .download-viz {
                display: none;
                z-index: 7;
                bottom: 20px;
                right: 5px;
                position: fixed;
            }
            
            
        }
    }
    .lang__text:after {
        right: -5px;
    }
    header {
        // min-height: 100vh;
        // min-height: 701px;
        padding: 9px 3px 54px 10px;
    }
    .main-title {
        padding-top: 8px;
    }
    .title {
        font-size: 30px;
        line-height: 40px;
    }
    #top.wrap {
        margin-bottom: 49px;
    }
    .bio {
        margin-bottom: 53px;
        .title {
            margin-bottom: 9px;
        }
        .logo {	
            margin-top: -5px;	
            margin-right: 0;	
        }
        &-deviz {
            min-height: 325px;
            padding: 10px 19px;
            &__text {
                max-width: none;
                padding-right: 23px;
                font-size: 14px;
                line-height: 28px;
                margin-bottom: 0;
            }
            .logo {
                font-size: 30px;
                line-height: 30px;
            }
        }
        &__body {
            .bio-deviz {
                background-size: 100%;
            }
        }
        &__block {
            text-align: center;
            padding: 33px 9px 108px;
        }
        &__name {
            margin-bottom: 38px;
            text-align: left;
        }
        &__position {
            text-align: left;
            padding-bottom: 18px;
            margin-bottom: 39px;
            letter-spacing: 0.04em;
        }
        &__item {
            line-height: 25px;
        }
        &__slider {
            text-align: left;
        }
        .arrow {
            &-next {
                right: auto;
                left: calc(50% + 11px);
                margin-right: -50%;
                transform: translate(-50%, 0);
            }
            &-prev {
                right: auto;
                left: calc(50% - 38px);
                margin-right: -50%;
                transform: translate(-50%, 0), rotate(180deg);
            }
        }
        &__video {
            margin-left: 28px;
            bottom: -60px;
        }
        .slick-arrow {	
            bottom: -43px;	
        }
    }
    .events-deviz {
        padding: 8px 19px;
    }
    .consult {
        margin-bottom: 14px;
        .subtitle {
            font-size: 15px;
            margin-top: 9px;
        }
        &__body {
            padding: 34px 12px 10px 9px;
        }
        &__slider-caption {
            margin-bottom: 23px;
        }
        &__slider-wrap {
            padding: 0;
        }
        .slick-dots {
            margin-top: 28px;
        }
        .arrow-prev {
            left: 33%;
        }
        .arrow-next {
            left: 67%;
        }
        &__about {
            padding-top: 58px;
            p {	
                line-height: 1.5;	
            }
        }
        &__text {
            font-size: 18px;
            line-height: 43px;
            max-width: 298px;
        }
        &__cite {
            position: relative;
            padding-bottom: 0px;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 55px;
            .logo {
                position: absolute;
                text-align: right;
                right: 27px;
                bottom: 0;
                font-size: 25px;
                line-height: 25px;
            }
        }
        &__about {
            margin-bottom: 0;
            .btn {
                margin: 34px auto 22px;
                display: block;
                max-width: 270px;
            }
        }

    }
    .events {
        margin-bottom: 54px;
        .title {
            margin-bottom: 6px;
        }
        &__body .events-deviz {
            min-height: 324px;
            background-size: 100%;
        }
        &-deviz {
            min-height: 324px;
        }
        &__item {
            padding-right: 0;
        }
        &__block {
            padding: 59px 11px 76px 11px;
        }
        &__position--top {
            padding-right: 0;
            padding-bottom: 21px;
            margin-bottom: 31px;
        }
        &__text {
            margin-top: 13px;
            max-height: 219px;
            line-height: 1.6;
        }
        &__video {
            padding-left: 32px;
            margin-top: 20px;
            text-align: center;
        }
        .slick-arrow {
            bottom: -39px;
        }
        .arrow {
            &-prev {
                left: 46%;
                margin-right: -50%;
                transform: translate(-50%, -50%) rotate(180deg);
            }
            &-next {
                left: 56%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    .diploms {
        .title {
            margin-bottom: 18px;
        }
        &__item {
            margin: 0 3px;
        }
        &__slider {
            .slick-arrow {
                bottom: -16px;
            }
            .slick-dots {
                margin-top: -21px;
            }
            .arrow-prev {
                left: 25%;
            }
            .arrow-next {
                left: 74%;
            }
        }
        &__wrap {
            margin-bottom: 60px;
        }
    }
    .footer {
        padding: 35px 39px 35px;
        &__contact {
            margin-bottom: 29px;
            .logo {
                font-size: 30px;
                line-height: 30px;
                margin-bottom: 38px;
            }
        }
    }
    #modalVideo {
        .close {
            right: 0;
            top: -36px;
        }
    }
    .video {
        flex-direction: column;
    }
    .video__caption {
        width: 100%;
        max-width: none;
        max-height: 70px;
        li {
            margin-bottom: 7px;
        }
    }
    #modalVideo .modal__wrap {
        max-width: 100%;
    }
    .video iframe {
        width: 300px;
    }
    #modalForm {
        .modal__wrap {
            max-width: 100%;
        }
        .close {
            right: 3px;
            top: 3px;
        }
        .modal__body {
            padding: 32px 15px;
        }
    }
    .modal {
        &__form {
            padding: 0;
        }
    }
}
@media only screen and (max-width: 374px) {
    .main-menu.active ul {
        margin-top: 0;
    }
    .main-menu a {
        padding: 4px 30px;
    }
    header {
        background-size: cover;
        min-height: 100vh;
    }
    .header-bottom {
        top: 37px;
    }
    .btn-scroll {
        top: -48px;
        padding-bottom: 42px;
        &:before {
            height: 34px;
        }
    }
    .main-title {
        padding-top: 0;
        font-size: 35px;
        line-height: 33px;
    }
    .bio{
        &__body {
            .bio {
                &-deviz {
                    min-height: 375px;
                    
                }
                &__block {
                    padding: 33px 10px 48px;
                }
            }
        }
        &-deviz {
            min-height: 276px;
        }
    }
    .events-deviz {
        min-height: 274px;
    }
    .diploms {
        &__item {
            img {
                height: 100%;
                max-height: 69px;
                min-width: 56px;
            }
        }
    }
    .footer {
        font-size: 14px;
    }
}
@media only screen and (max-width: 320px) {

}
