section.bio#bio
    .title Биография
        .title__behind Biography
    .bio__wrap
        .bio__body
            .bio-deviz(style="background-image: url('assets/img/bio-bg.jpg')")
            .bio__block
        .wrap
            .bio-deviz
                .bio-deviz__text  “Высокое напряжение опасно для жизни “ 
                .logo AnnaMakarova
            .bio__block 
                .bio__name Макарова Анна Евгеньевна
                ul.bio__position 
                    li Клинический психолог
                    li Профессиональный верификатор
                    li Дипломированный специалист
                    li Профайлер
                    li Гипнолог
                .bio__slider
                    .bio__item
                        span 2017
                        .bio__text г Закончила Московский Государственный Психолог - Педагогический Университет (Федеральное Государственное Бюджетное Образовательное Учреждение Высшего образования МГППУ г.Москва) Дипломированный специалист. Квалификация: Клинический психолог. 2019 г Сертифицированный специалист программы «Физиогномика». Московский Институт развития Бизнеса и Личности (ИРБЛ г.Москва) 2019 г Сертифицированный специалист программы «Характерология». Московский Институт развития Бизнеса и Личности (ИРБЛ г.Москва)
                    .bio__item 
                        span 2018 
                        .bio__text г Сертификат об окончании курса «Психология Коммуникации». Национальный Исследовательский Университет «Высшая Школа Экономики». (ВШЭ г.Москва) 2018 г Сертификат об окончании курса «Психология Сознания». Санкт - Петербургский Государственный Университет (СПГУ) 2018 г Сертифицированный специалист «Психосоматика в психологии». Школа психосоматики PSY 2.0 
                    .bio__item 
                        span 2019 
                        .bio__text г Сертифицированный специалист программы «Профайлинг». Московский Институт развития бизнеса и Личности (ИРБЛ г.Москва) 2019 г Дипломированный специалист в сфере "Психологии обеспечения кадровой безопасности». Академия Информационных Систем (АИС г.Москва) 2018 г Гештальт терапевт. Московский Институт гештальт терапии и консультирования. 2019 г Диплом и профессиональной переподготовки «Психологическое Консультирование с использованием эриксоновской психотерапии и гипноза. Столичный Институт Профессионального Образования (АНО ДПО «СИПО»г.Москва)
                a(href='#modalVideo').bio__video.modal-open смотреть Видео  &#10230;

