section.consult#consult
    .wrap
        .title Консультации
            .title__behind Consultations
        .subtitle консультации для юридических и физических лиц
        .consult__body
            .consult__about
                .consult__cite
                    .consult__text “Я всегда лоббирую интересы своего клиента.”
                    .logo AnnaMakarova
                ol.consult__position 
                    li Позвоните мне или отправьте электронное письмо. 
                    li Продолжительность первой сессии 50 минут. 
                    li Первую консультацию я ВСЕГДА провожу очно. 
                    li Последующие консультации возможны в очном и онлайн (по средствам Skype FaceTime WhatsApp) режимах. 
                p Ваша информация полностью конфидециальна. 
                p Я связываюсь с Вами в течении 48 часов с предложением о встрече.
                a(href='#modalForm').btn.modal-open Связаться
            .consult__slider-wrap
                .consult__slider
                    .consult__slider-caption
                        div
                            .consult__nav Персональные
                        div
                            .consult__nav Бизнес
                        div
                            .consult__nav Профайлинг
                    .consult__slider-for
                        .consult__content Сумасшедший темп жизни, большая информационная нагрузка, жестокие реалии, тяжелые жизненные обстоятельства, у каждого своя жизнь и свой опыт. У каждого своё прошлое и своё будущее, жить или выживать, быть счастливым или страдать- для каждого это свой выбор. Каждый человек - это отдельный мир, интересный, глубокий и неповторимый. К каждому человеку индивидуальный подход. Я не работаю одной методикой со всеми людьми, ведь согласитесь, невозможно одним ключом открыть все двери. Создание безопасных условий, при которых человек сможет раскрыться, разобраться как он участвует в своей жизни и помощь в принятии решений - это приоритет в моей работе.
                        .consult__content Содержимое второго блока
                        .consult__content Содержимое третьего блока
