section.diploms
    .title Дипломы
        .title__behind Diplom
    .diploms__wrap
        .diploms__slider
            .diploms__item-wrap
                .diploms__item 
                    a.diploms__img(href="assets/img/diploms/diplom1.jpg" data-fancybox="images" data-caption="diploms")
                        img(src="assets/img/diploms/diplom1.jpg", alt="diplom")
            .diploms__item-wrap
                .diploms__item 
                    a.diploms__img(href="assets/img/diploms/diplom2-full.jpeg" data-fancybox="images" data-caption="diploms")
                        img(src="assets/img/diploms/diplom2.jpg", alt="diplom")
            .diploms__item-wrap
                .diploms__item 
                    a.diploms__img(href="assets/img/diploms/diplom3-full.jpeg" data-fancybox="images" data-caption="diploms")
                        img(src="assets/img/diploms/diplom3-full.jpeg", alt="diplom")
            .diploms__item-wrap
                .diploms__item 
                    a.diploms__img(href="assets/img/diploms/diplom4-full.jpg" data-fancybox="images" data-caption="diploms")
                        img(src="assets/img/diploms/diplom4-full.jpg", alt="diplom")
            .diploms__item-wrap
                .diploms__item 
                    a.diploms__img(href="assets/img/diploms/diplom5-full.jpeg" data-fancybox="images" data-caption="diploms")
                        img(src="assets/img/diploms/diplom5-full.jpeg", alt="diplom")
            .diploms__item-wrap
                .diploms__item 
                    a.diploms__img(href="assets/img/diploms/diplom6-full.jpg" data-fancybox="images" data-caption="diploms")
                        img(src="assets/img/diploms/diplom6-full.jpg", alt="diplom")
            .diploms__item-wrap
                .diploms__item 
                    a.diploms__img(href="assets/img/diploms/diplom7-full.jpeg" data-fancybox="images" data-caption="diploms")
                        img(src="assets/img/diploms/diplom7-full.jpeg", alt="diplom")