section.events#events
    .title События
        .title__behind Events
    .events__wrap
        .events__body
            .events__block(data-anim="eventanim1") 
            .events-deviz(data-anim="eventanim2" style="background-image: url('assets/img/events-bg.jpg')")
        .wrap
            .events__block(data-anim="eventanim1")  
                .events__slider
                    .events__item
                        .events__name June 12
                        .events__position.events__position--top Section of psychology, studying mental <br> phenomena in terms
                        .events__position Moscow Sevastopol Avenue 28/1
                        .events__position beginning 20:00
                        .events__text.events__prev Section of psychology, studying mental phenomena in terms of their relationship with disease. The field of clinical psychology includes the diagnosis of mental health, the organization and conduct of research to understand psychophysiological problems and the development, implementation and evaluation of psychological correction.
                        a(href="#modalEvents-1").events__video.modal-open 
                            span read more  &#10230;
                    .events__item 
                        .events__name June 12
                        .events__position.events__position--top Section of psychology, studying mental phenomena in terms
                        .events__position Moscow Sevastopol Avenue 28/1
                        .events__position beginning 20:00
                        .events__text.events__prev г Сертификат об окончании курса «Психология Коммуникации». Национальный Исследовательский Университет «Высшая Школа Экономики». (ВШЭ г.Москва) 2018 г Сертификат об окончании курса «Психология Сознания». Санкт - Петербургский Государственный Университет (СПГУ) 2018 г Сертифицированный специалист «Психосоматика в психологии». Школа психосоматики PSY 2.0 
                        a(href="#modalEvents-1").events__video.modal-open 
                            span read more  &#10230;
                    .events__item 
                        .events__name June 12
                        .events__position.events__position--top Section of psychology, studying mental phenomena in terms
                        .events__position Moscow Sevastopol Avenue 28/1
                        .events__position beginning 20:00
                        .events__text.events__prev г Сертифицированный специалист программы «Профайлинг». Московский Институт развития бизнеса и Личности (ИРБЛ г.Москва) 2019 г Дипломированный специалист в сфере "Психологии обеспечения кадровой безопасности». Академия Информационных Систем (АИС г.Москва) 2018 г Гештальт терапевт. Московский Институт гештальт терапии и консультирования. 2019 г Диплом и профессиональной переподготовки «Психологическое Консультирование с использованием эриксоновской психотерапии и гипноза. Столичный Институт Профессионального Образования (АНО ДПО «СИПО»г.Москва)
                        a(href="#modalEvents-1").events__video.modal-open 
                            span read more  &#10230;
            .events-deviz(data-anim="eventanim2") 

