footer.footer
    .wrap
        .footer__contact
            .logo Anna Makarova
            | Moscow 
            br
            | Sevostopolsky Avenue 28/1
            
        .footer__center
            .logo Anna Makarova
            .rights Все права защищены. Анна Макарова. © 2019
        .footer__contact 
            a(href="tel:+70000000000")  7 (000) 000 00 00 
            a(href="mailto:contact@makarovapsychology.co") contact@makarovapsychology.com

script(src="assets/js/libs.min.js")
script(src="assets/js/custom.js")
