.wrap#top
	header
		nav
			.nav
				.lang
					.lang__text ru
					ul.lang__wrap
						li.lang__item ru
						li.lang__item en
				.menu-wrap
					.menu-toggle 
						.one
						.two
						.three

					nav.main-menu 
						ul
							li
								a(href="#" data-div="#bio") Биография
							li
								a(href="#" data-div="#consult") Консультации
							li
								a(href="#" data-div="#diploms") Дипломы
							li.logo
								a(href="#" data-div="#top") AnnaMakarova
							li
								a(href="#" data-div="#events") Мероприятия
							li
								a(href="#" data-div="#notes") Видео
							li
								a(href="#" data-div="#contacts") Контакты
				.social
					a(href="#").social__icon
						img(src="assets/img/icons/phone.svg", alt="phone")
					a(href="#").social__icon
						img(src="assets/img/icons/mail.svg", alt="mail")
		.header
			.header__wrap
				h1.main-title Анна Макарова
				.subtitle клинический психолог
		.header-bottom 
			.social
				a(href="#").social__icon
					img(src="assets/img/icons/fb.svg", alt="mail")
				a(href="#").social__icon
					img(src="assets/img/icons/youtube.svg", alt="mail")
				a(href="#").social__icon
					img(src="assets/img/icons/insta.svg", alt="mail")
			a(href="#" data-div="#bio").btn-scroll Scroll
			a(href="#").download-viz
				.download-viz__text Загрузить визитку
				.social__icon
					img(src="assets/img/icons/icon_user.svg", alt="icon_user")
